build/
lib/*
__pycache__/
!report_tools/lib/
bin/
.idea/
.vscode/
tags
dataset-room1_512_16/
cmake-build-release/
cmake-build-debug/
cmake-build-relwithdebinfo/
scripts/.idea/
scripts/venv/
benchmark/scripts/.idea/
benchmark/scripts/venv/
benchmark/scripts/__pycache__/
benchmark/scripts/params_to_json.pyc
#*.png
*.apk
*.so
reports.txt
*.html
*.pgm
common/cmake-build-debug/
common/cmake-build-release/
example/ar_boxes.csv
example/dictionary64.bin
test/src/*.txt
orca_vio/vio_tools/.idea/
*Release*
*Debug*
signed_dsp/

output.txt
*Mapping.csv
*Pipeline.csv
*static_map*

test.txt
